.item-activity{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%; 
    min-height: 210px; 
    max-height: 250px; 
    background-color: #FFF ; 
    margin-top: 10px;
    font-size: 12px;

}
img {
    width: 32px;
    height: auto;
}
.status{
    width: 60px;
    height: auto;
    background-color: #f2f2f2;
    padding: 10px
}
.avatar{
    
}
@media  (min-width: 600px) {
    .item-activity{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%; 
        min-height: 210px; 
        max-height: 250px; 
        background-color: #FFF ; 
        margin-top: 10px;
        font-size: 16px;

    } 
    img {
        width: 50px;
        height: auto;
    }
    .status{
        width: 100px;
        height: auto;
        background-color: #f2f2f2;
        padding: 10px
    }
}
