body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {
    font-size:16px;
    padding-top: 50px; 
    background: #f3f3f3;
}
.content{

    min-height: 600px;
}
.notify{
    color: white;
    font-size:25px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);

}
.start-header{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); font-size: 25px;
}
.start-header a{
    text-decoration: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav div.option-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

.sidenav div.option-menu a:hover {
    display: block;
    background: #084273;
    color: #FFF;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.change-language ul{
    display: none;
}
div.change-language  ul li{
    list-style-type: none;
}
.change-language:hover ul{
    display: block;

}
.header-bar
{


    top:0;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 58px;
    width: 100%;
    background-color: #4267b2;   
}
#left div.option-menu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}


.notify-box{
    top:50px;
    right:50px;
    z-index: 999;
    position:
        absolute;
    width: 400px;
    max-height: 500px;
    min-height: 300px;
    background-color: #FFF;
    display: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 5px;
    overflow-y: scroll;
    position: fixed;
    text-align: center;


}
@media only screen and (max-width: 600px) {
    .notify-box{
        z-index: 999;
        position: absolute;
        width: 100%;
        min-height: 720px;
        right: 0;
        background-color: #FFF;
        display: none;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding-top: 5px;
        overflow-y: scroll;
        position: fixed;
        left: 0;
        text-align: center;

    }

}
