#fullcalendar {

    margin-left: 10px;
    margin-right: 10px;



}

.calendar-header{
    margin-left: 10px;
    margin-right: 10px;
}
.note{
    display: none;
    max-width: 900px;
    margin: 0 auto;

}
.fc-toolbar{

    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
     min-height: 700px;
}
@media (min-width: 800px) {
    #calendar {
        max-width: 900px;
        
        margin: 0 auto;
    }

    .note{
        display: block;
        max-width: 900px;
        margin: 0 auto;
    }
    .calendar-header{
        max-width: 900px;
        margin: 0 auto;
    }
    .fc-toolbar{

        font-size: 16px;
    }



}

.calendar-container{
   
}