
div.tab-header button {
    background-color: inherit; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width:33.3%;
    white-space: nowrap;
    text-align: center;
    padding: 10px;
}

div.tab-header button:hover {
    background-color: #084273;
    color: #FFF
}


div.tab-header button.active {
    background-color: #084273;
    color: #FFF
}



.tab-header {

    width: 100%;
    background: #FFF;
    color: #000;
    height: 50px;
/*    position: fixed;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  

}
.list-wrapper-manager{
    padding-top: 50px;


}
.tab-content{
    min-height: 800px;
}
@media  (min-width: 600px) {
    .list-wrapper-manager{
        padding: 50px;
           
    }  
}